<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Calculator</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body bgcolor="#F9A7B0">

<h1>Hello! It is a simple calculator</h1>
<form action="#" th:action="@{/calculator}" th:object="${operationModel}" method="POST">
    <input type="text" th:field="*{firstNumber}"/>
    <input type="text" th:field="*{secondNumber}"/>
    <p>
        <input type="submit" class="button" name="getSum" value="+"/>
        <input type="submit" class="button" name="getSubtraction" value="-"/>
        <input type="submit" class="button" name="getMultiplication" value="*"/>
        <input type="submit" class="button" name="getQuotient" value="/"/>
    </p>
    <h1><p th:text="'Result: ' + ${result}"/></h1>
    <p>
        <input type="submit" class="button" name="getDbRequests" value="Get count of data base requests"/>
    </p>
    <h1><p th:text="'Data base requests: ' + ${result}"/></h1>
</form>
</body>
</html>